.title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
    font-family: "Poppins";
}

.text {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Poppins';
    text-align: center;
}

.hang {
    color: var(--color);
}

.about-content {
    position: relative;
    align-items: center;
    text-align: justify;
    font-family: 'Poppins';
}

a.tlink {
    display: inline-block;
    color: var(--color);
    font-size: 19px;
    /* margin-top: 20px; */
    font-weight: 400;
    transition: all 0.4s ease;
}

a.tlink:hover {
    color: #fff;
    transform: scale(1);
}

p {
    margin: auto;
    width: 60%;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 30px;
    }

    p {
        margin: auto;
        width: 90%;
        transform: scale(0.9);
    }
}