.title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Poppins";
}

.text {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Poppins';
    text-align: center;
}
.hang{
    color: var(--color);
}

.about-content {
    position: relative;
    align-items: center;
    text-align: justify;
    font-family: 'Poppins';
}

p{
    margin: auto;
    width: 60%;
}