.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #fff;
    padding: 3em;
    color: #000;
    border-radius: 1em;
    width: 500px;
    height: auto;
}

.modal__close {
    position: absolute;
    top: 100px;
    right: 50px;
    color: #585858;
    width: 50px;
    height: 25px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.modal__close span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #fff;
}

.modal__close span:first-child {
    transform: rotate(45deg);
    transform-origin: center;
}

.modal__close span:last-child {
    transform: rotate(-45deg);
    transform-origin: center;
}

@media screen and (max-width: 768px) {
    .card {
        width: 90%;
    }

    .modal__close {
        top: 30px;
        transform: scale(0.8);
    }
}