.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    /* position: absolute; */
    left: 3rem;
    position: fixed;
    color:var(--color);
    top: 40%;
    z-index: 1000;
}

@media screen and (max-width: 600px) {
    .header__socials{
        display: none;
    }
}