.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    /* position: absolute; */
    left: 3rem;
    position: fixed;
    color: var(--color);
    top: 50%;
    z-index: 1000;
    transition: all .5s ease;
    opacity: 1;
}

.header__socials.hidden {
    opacity: 0;
}

.header__socials a:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.1);
    transition: all 0.2s ease-in-out;
    --color: #fff;
}

@media screen and (max-width: 600px) {
    .header__socials {
        display: none;
    }
}