@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


section {
    padding: 100px 0;
}

section#home {
    height: 100vh;
    padding: 0px;
}


@media screen and (max-width: 600px) {
    section {
        padding: 20px 0;
    }

    section#home {
        height: 100%;
    }
}